@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --rootblack: #222222;
  --rootwhite: #ffffff;
  --rootgrey: #ececec;
  --primarycolor: #f09d51;
  --rootspacing: 0.1rem;
  --mainTransition: all 0.3s linear;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--rootblack);
  background: var(--rootwhite);
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

a {
  color: var(--rootblack);
  text-decoration: none;
  padding: 0 1rem;
  font-size: small;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  background: var(--rootwhite);
  display: flex;
  z-index: 1;
  align-items: center;
}

.navbar ul {
  display: flex;
  float: left;
  list-style: none;
  font-size: small;
}
.navbar ul span {
  font-size: medium;
}

.navbar-center {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1170px;
  justify-content: space-around;
}
.nav-icon {
  font-size: 1.5rem;
}

/*End navbar */

/* products */
.products {
  padding: 2rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--rootspacing);
}
.products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2 rem;
}
.img-container {
  position: relative;
  overflow: hidden;
}
.product-img {
  display: block;
  width: 100%;
  min-height: 200px;
  transition: var(--mainTransition);
}
.bag-btn {
  position: absolute;
  top: 10%;
  right: 0;
  background: var(--primarycolor);
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75rem 0.5rem;
  border: none;
  cursor: pointer;
  transform: translateX(101%);
  letter-spacing: var(--rootspacing);
  transition: var(--mainTransition);
  border-radius: 3px;
}

.bag-btn:hover {
  color: var(--rootwhite);
}
.img-container:hover .bag-btn {
  transform: translateX(0);
}
.img-container:hover .product-img {
  opacity: 0.5;
}
.product p {
  text-transform: capitalize;
  position: absolute;
  padding: 1rem 5rem 1rem 0rem;
  font-size: 1.1rem;
  top: 80%;
  left: 0;
  background: var(--rootwhite);
}

.light {
  text-transform: uppercase;
  float: left;
  margin: 10px 0;
  font-weight: lighter;
  font-size: 0.8rem;
  color: #b1b1b1;
}
.price {
  color: var(--primarycolor);
  margin-top: 10px;
  float: right;
}

.star {
  clear: both;
  margin-bottom: 3rem;
}

input{
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid rgb(164, 162, 162);
  border-radius: 0.25rem;
}

input:focus{
  outline: none;
  border: 0.125rem solid var(--primarycolor);
}

.search{
  padding: 0.25rem 0.5rem;
  border: 0.125rem solid var(--primarycolor);
  border-radius: 0.25rem;
  color: var( --rootgrey);
  background: var(--primarycolor);
  cursor: pointer;
  font-weight: bold;
}
.fa-magnifying-glass{
  position: absolute;
  padding: 0.4rem 0.25rem 0.4rem 0.5rem;
}

.evenOdd{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: large;
    font-weight: 500;
    margin-bottom: 100px;
}

#change{
    margin-left: 20px;
}

#resPara{
    margin-top: 20px;
}
